.card {
    display: block;
    margin: auto;
    width: 50%;
    margin-top: 100px;
    z-index: 100;
}

.card-content {
    display: flex;
    justify-content: space-evenly;
}

.card-content img {
    width: 100px;
}

.card-title {
    text-align: center;
    margin-bottom: 15px;
}

.center,
.right {
    margin-top: 10px;
}

.photoVille {
    display: block;
    margin: auto;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
}

.navbar {
    top: 0px !important;
    width: 100% !important;
    z-index: 100;
}

#map {
    height: 300px;
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 20px;
}